<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/products">View Products</a></li>
      <li><a href="/shoppingcart">View Shopping Cart</a></li>
    </ul>
  </body>
</html>
